@keyframes textColorFade {
            0% {
                background: linear-gradient(45deg, #3B82F6, #8B5CF6, #EC4899, #F59E0B, #10B981);
                background-size: 300% 300%;
                background-position: 0% 50%;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        .animated-text {
            animation: textColorFade 3s ease-in-out infinite;
            background: linear-gradient(45deg, #3B82F6, #8B5CF6, #EC4899, #F59E0B, #10B981);
            background-size: 300% 300%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .animated-tex {
             animation: textColorFade 3s ease-in-out infinite;
            background: linear-gradient(45deg, #3B82F6, #8B5CF6, #EC4899, #F59E0B, #10B981);
            background-size: 500% 500%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 3px black;
            font-size: 3em;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
         .rainbow-outline {
            position: relative;
            display: inline-block;
        }
        
        .rainbow-outline::before {
            content: attr(data-text);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            text-shadow: 
                -3px -3px 0 #000,
                 3px -3px 0 #000,
                -3px  3px 0 #000,
                 3px  3px 0 #000,
                -3px  0   0 #000,
                 3px  0   0 #000,
                 0   -3px 0 #000,
                 0    3px 0 #000;
        }
        .quiz-box {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .fit-bg {

            background-size: 110% auto; 
            background-position: center center;
            background-repeat: no-repeat;
        }